html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.books {
  border: 2px solid rgba(51, 51, 51, 0.48);
  max-width: 600px;
  margin: 20px auto;
  padding: 2px;
  background-color: #fff;
}

.book-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.book-container:nth-child(odd) {
  background-color: #ddd;
}

.book-description {
  display: inline;
}

.title {
  display: inline-block;
}

.author {
  display: inline-block;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

button {
  padding: 4px;
  cursor: pointer;
}

form button {
  align-self: flex-end;
  padding: 10px;
}

.book > button {
  margin-right: 20px;
}

.dark {
  background-color: rgba(51, 51, 51, 0.48);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form input {
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

hr {
  border: 1px solid rgba(51, 51, 51, 0.48);
  width: 100px;
  margin: 40px auto;
}
